<template>
    <div>
        <p>this should be the main Page, try the design for this page
            with a navbar that carries all the router and will be an introduction page of sorts  
        </p>
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <i class="fas fa-cat"> the cat tag is here </i>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    
}
</script>

<style>

</style>